.koinx-logo-icon {
  height: 1.5rem;
  width: 6rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.crypto-taxes,
.free-tools,
.resource-center {
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 600;
  white-space: nowrap;
}
.link-circle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-0) var(--padding-smi) var(--padding-0) var(--padding-0);
}
.get-started {
  position: relative;
  font-size: var(--inter-regular-16-size);
  letter-spacing: -0.01em;
  font-weight: 600;
  font-family: var(--inter-regular-12);
  color: var(--gray-white);
  text-align: left;
}
.cardano-triangle,
.get-started-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.get-started-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-lg) var(--padding-3xs)
    var(--padding-4xl);
  background-color: var(--gradients-primary);
  flex: 0.7724;
  border-radius: var(--br-5xs);
  background: linear-gradient(81.62deg, #2870ea 8.72%, #1b4aef 85.01%);
  justify-content: center;
  white-space: nowrap;
}
.cardano-triangle {
  width: 34.625rem;
  justify-content: flex-start;
  gap: 0 2rem;
  max-width: 100%;
}
.feedback {
  height: 1.188rem;
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
}
.feedback-wrapper,
.nav {
  flex-direction: row;
  align-items: center;
}
.feedback-wrapper {
  height: 4.375rem;
  display: none;
  justify-content: center;
  color: var(--gray-2);
}
.nav {
  align-self: stretch;
  background-color: var(--gray-white);
  box-shadow: var(--box-shadow1);
  border-bottom: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-37xl) var(--padding-xl)
    var(--padding-41xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--inter-regular-16-size);
  color: var(--gray-1);
  font-family: var(--inter-regular-12);
}
@media screen and (max-width: 800px) {
  .cardano-triangle {
    display: none;
    gap: 0 2rem;
  }
  .nav {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
}
